.search-filter {
	display: flex;
	align-items: center;
	width: 40%;
}

.main-table {
	width: 100%;
}

.main-table tbody td, th{
	align-items: center;
	text-align: center;
	justify-items: center;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
}